extends ../layout

block custom_head
	link(rel="stylesheet", href="/s/team.css")

block content
	img.main-picture(src='http://static.shburg.org/art/team/team.jpg')
	include ../menu
	.main
		ul.team-list
			for member in team
				li.team-member
					img(src='#{member.picture}')
					.info
						h3 #{member.firstName} #{member.middleName} 
							span #{member.lastName}
						p #{member.position}
						p #{member.status}
						p #{member.edu}